body{
    background-color: rgb(233, 233, 233);
}

h1{
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-color: rgb(148, 84, 208);
    border-style: solid;
    border-radius: 50%;
}

p{
    text-align: left;
}

.card{
    height: auto;
}

.contact-form{
    position: relative;
    left: 25%;
}

.nav{
    background-color: rgb(148, 84, 208);
}

.fixed-bottom{
    background-color: rgb(148, 84, 208);
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}

.footer{
    margin: 0 auto;
    
}

.top-container{
    margin-bottom: 100px;
}

@media screen and (max-width: 760px) {
    .contact-form{
        position: relative;
        left: 0;
    }
}

